* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #67c462;
  --secondary-color: #000639;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
