* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #67c462;
  --secondary-color: #000639;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.loader {
  margin: 20vh auto;
  width: 50%;
  text-align: center;
}
.pair-header {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.pair-header label {
  color: white;
  font-weight: bold;
  margin: 0 20px;
  font-size: 1.2em;
}
.pair-header select {
  background: transparent;
  border: 1px solid white;
  border-radius: 3px;
  padding: 10px;
  color: white;
  font-size: 1em;
}
.pair-header select:focus {
  outline: none;
}
.pair-header select option {
  color: var(--secondary-color);
  cursor: pointer;
}
.pair-header select option:hover {
  color: white;
  background-color: var(--secondary-color);
}
